.formulario{
    background-color: rgb(152, 197, 214);
    padding: 5px 10px ;
    
}
.formulario_input{
    background-color: rgb(204, 224, 238);
    width: 60%;
    padding: 30px 20px;
    margin: 2px;
}
.form2_input{
    width: 60%;
    padding: 40px 90px;
    color: black;
    background-color: rgb(94, 38, 150);
    text-align: center;
    margin: 12px;
}

