/* INDEX SOMBRAS TEXTO.HTML */
/* SOMBRAS_TEXTO */
/* SOMBRAS DE TEXTO */
body{
background: #e88;
}
.box{
background-color: #ccc;
width: 300px;
height: 250px;
margin: auto;
margin-top: 50px;
border-top: 4px solid #333a;
border-radius: 5px;
box-shadow: 0 0 100px 0 #000;
box-sizing: border-box;
padding-top: 5px;
}
h2{
color: #444;
text-align: center;
font-size: 22px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-shadow: 0 0 6px #333a;
}
p{
color: #331;
font-size: 10px;
text-align: justify;
letter-spacing: 1px;
margin: 0px 20px 30px 20px;
text-shadow: 0 0 3px #0414f1;
}