body {
    margin: 0;
    font-family: sans-serif;
}
.container {
    position: relative;
    max-width: 100%;
    padding-top: 56.25%;
    height: 0;

}
video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}