/*CON BORDE INFERIOR*/
body{
    background-color: #333;
    color:#ddd;
    margin:60px;    
}
details{
    background: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    margin:6px;
    font-size: 1em; 
    color:#ddd;
}
summary{
    background-color: transparent;
    padding: 9x;
    border-bottom: 1px solid #ddd;
    color:#ddd;
}
ul{
    font-weight: 100px;
}