body {
    margin: 0;
    font-family: sans-serif;
}
dialog {
    position: absolute;
    background-color: #0009;
    height: 100vh;
    box-sizing: border-box;
}
.modal__content {
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.modal__tittle {
    margin-top: 10px;
}
.modal__close-button {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px 12px;
}