body {    
    margin: 0;    
    font-family: sans-serif;
}
h5 {
    color: #080;
    text-align: center;
}
body, div {    
    box-sizing: border-box;
}
.grid {    
    display: grid;    
    height: 80vh;    
    grid-template-columns:  200px repeat(2,350px) 180px ;    grid-template-rows: 100px 100px;
}
.grid-item {    
    background-color: #48e;    
    margin: 10px;    
    padding: 10px;    
    font-size: 30px;    
    color: #fff;
}
/*--minmax--*/
.grid-minmax {    
    display: grid;    
    height: 80vh;    
    grid-template-columns:  200px repeat(2,minmax(250px,600px)) ;    
    grid-template-rows: repeat(2, 1fr);
}
.grid-item-minmax {    
    background-color: #ab2e;    
    margin: 10px;    
    padding: 10px;    
    font-size: 30px;    
    color: #fff;}

