body {    
    margin: 0;    
    font-family: sans-serif;
    background-color: #ccc;
}
body, div {    
    box-sizing: border-box;
}
.grid {    
    display: grid;    
    grid-template-columns:   repeat(3,1fr)  ;    
    grid-template-rows:  repeat(3,120px);
    grid-auto-rows: 45px;
    grid-auto-flow: rows;
    grid-auto-columns: 80px;
    border: 3px solid #000;
    column-gap: 40px;
    row-gap: 20px;
    padding: 20px;
    width: 70vw;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 70px;
}
.grid-item {    
    background-color: #43e;    
    padding: 10px;    
    font-size: 30px;    
    color: #fff;
}

