body{
    background-color: #0f0;
}
.box{
    width: 600px;
    height: 200px;
    margin: 0px;
    background-color: #56d;
    background-image: url(https://images.pexels.com/photos/53581/bald-eagles-bald-eagle-bird-of-prey-adler-53581.jpeg?cs=srgb&dl=pexels-pixabay-53581.jpg&fm=jpg);
    background-size: 80px;
    background-position: center;
    background-repeat: repeat-x;

}