body{
    background-color: #abb;
    margin: 20px;
    font-family: Gill Sans MT;
    font-size: 18px;
}

h2{
    color: brown;
    font-size: larger;
    padding: 10px;    
}
.form__ingresos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68e;
    color: #fff;
    max-width: 600px;
    margin-top: 30px;
    
}
form{
}
.ingreso, .perdida,.horas, .peso-horas {
    color: rgb(33, 11, 226);
    width: 50%;
    font-size:14px;
    font-style: italic;
    margin: 2px;
    padding-left: 0px;
    border: 2px solid #abb;
    border-radius: 5px;
}

input{
    width: 70%;
    margin: 0;
    padding: 0;

}
a{
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #abf;
    padding: 5px;
    margin: 5px;

}
label{
    padding-right: 10px;
}
