body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;;
}
.box {
    width: 120px;
    height: 120px;
    background-color: #080;
    margin-top: 50px;
    transition-property: left;  
    transition-duration: 1s;
    transition-timing-function: ease-in;
    position: relative;
    left: 0;
}
body:hover .box{
left: 500px;
}