body {
    margin: 0;
    font-family: sans-serif;
}
div, body {
    box-sizing: border-box;
}
.flexboxCW {
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ccc;
    height: 100vh;
}
.flex-itemCW {
    width: 100px;
    height: 100px;
    background-color: #abcabc;
    margin: 10px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.flex-itemCW:first-child {
    background-color: #4fa;
}
.flex-itemCW:last-child {
    background-color: #f0a;
}


