body {
    margin: 0;
    font-family: sans-serif;
}
h4 {
text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    color: #008;
    font-weight: bold;
}
div, body {
    box-sizing: border-box;
}
.flexboxstart {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: start ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}

.flexboxcenter {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: center ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}
.flexboxend {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: end ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}

.flexboxendspacearound {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: space-around ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}
.flexboxspacebetween {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: space-between ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}
.flexboxspaceevenly {
    display: flex;  
    flex-direction: row; /*dirección de los item*/
    flex-wrap: wrap;/*nowrap se adapta el tamaño del item al de la caja*/
    border: 2px solid #000;
    margin: 20px;
    height: 120px;
    justify-content: space-evenly ;
    /* a parte de center se puede usar start o end e irá al principio o final de la caja contenedora*/
    /*space-around: coge la distancia entre el item con respecto al borde y la mantiene, lo que pasa es que entre dos item hay dos distancias*/
    /* 
    space-between:primer elemento al principio del eje. ultimo elemento al final del eje y al rsto los distribuye uniformemente*/
    /*space-evenly distribuyen los espacios igual entre los item y los bordes*/
}
.flex-item {
    width: 200px;
    background-color: #911;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.flex-item:first-child {
    background-color: #f77;
}
.flex-item:last-child {
    background-color: #ff0;
}
