body {
    margin: 0;
    font-family: sans-serif;
}
div, body {
    box-sizing: border-box;
}
.flexbox {
    display: flex;  
    flex-flow: row wrap; 
    border: 2px solid #000;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.flex-item {
    background-color: #000;
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 35px;
}



