body {
    margin: 25px;
    font-family: sans-serif;
    background-color: #ccc;
    }
h3 {
    color: #008;margin-top: 10px;
    text-align: center;    }
div, body {
    box-sizing: border-box;
}
div {
    background-color: #fff;
}
/*Row Wrap con flex basis*/
.flexbox {
    display: flex;  
    flex-flow: row wrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-item {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    text-align: center;
    direction: rtl;
    flex-grow: 1;
    flex-shrink: 6;    
    flex-basis: 150px;
}
.flex-item:first-child {
    background-color: #f77;    
    flex-grow: 2;
    flex-shrink: 1;    
    flex-basis: 150px;
}
.flex-item:last-child {
    background-color: #f20; 
    flex-grow: 1;
    flex-shrink: 1;    
    flex-basis: 150px;   
}
    /*Row NoWrap con flex basis*/
.flexboxrnw {
    display: flex;  
    flex-flow: row nowrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-itemrnw {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    text-align: center;
    direction: rtl;
    flex-basis: 180px;
    flex-grow: 1;
}
.flex-itemrnw:first-child {
    background-color: #f77;    
    flex-shrink: 0;
}
.flex-itemrnw:last-child {
    background-color: #ff0;    
    flex-shrink: 0;
}
    /*COLUMN WRAP con min-width*/
.flexboxCOLUMNmw {
    display: flex;  
    flex-flow: column wrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 30vh;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-itemCOLUMNmw {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    direction: rtl;
    min-width: 25vw;
    flex-grow: 2;
}
.flex-itemCOLUMNmw:first-child {
    background-color: #f77;    
    flex-shrink: 0;

    }
.flex-itemCOLUMNmw:last-child {
    background-color: #ff0;    
    flex-shrink: 0;    
    }
    /*COLUMN NOWRAP con min-width*/
.flexboxCOLUMNnwmw {
    display: flex;  
    flex-flow: column nowrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 30vh;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-itemCOLUMNnwmw {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    margin: 5px;
    text-align: center;
    direction: rtl;
    min-width: 250px;
    flex-grow: 1;
}
.flex-itemCOLUMNnwmw:first-child {
    background-color: #f77;    
    flex-shrink: 0;            
    }
.flex-itemCOLUMNnwmw:last-child {
    background-color: #ff0;    
    flex-shrink: 0;    
    }
    /*COLUMN WRAP con flex-basis*/
.flexboxCOLUMNfbw {
    display: flex;  
    flex-flow: column wrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 50vh;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-itemCOLUMNfbw {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    text-align: center;
    direction: rtl;
    flex-basis: 10vh;
    flex-grow: 2;
    flex-shrink: 3;

}
.flex-itemCOLUMNfbw:first-child {
    background-color: #f77;    
    flex-shrink: 0;

    }
.flex-itemCOLUMNfbw:last-child {
    background-color: #ff0; 
    flex-grow: 5;
    flex-shrink: 3;
    flex-basis: 10vh;

}
/*COLUMN NOWRAP con flex-basis*/
.flexboxCOLUMNfbnw {
    display: flex;  
    flex-flow: column nowrap; 
    border: 2px solid #000;
    margin: 20px;
    height: 50vh;
    align-items: center;
    justify-content: start;
    background-color: #fff;
}
.flex-itemCOLUMNfbnw {
    background-color: #911;    
    color: #000;
    font-size: 30px;
    text-align: center;
    direction: rtl;
    flex-basis: 20vh;
    flex-grow: 1;
}
.flex-itemCOLUMNfbnw:first-child {
    background-color: #f77;    
    flex-shrink: 0;
}
.flex-itemCOLUMNfbnw:last-child {
    background-color: #ff0;    
    flex-shrink: 0;    
}
/*varios item con flex: 1 1 150px*/
.flexboxvarios {
    display: flex;  
    flex-flow: row wrap; 
    margin: 20px;
    height: 200px;
    align-items: start;
    justify-content: start;
    background-color: transparent;
    gap: 30px;
}
.flex-itemvarios {
    background-color: #281;    
    color: #000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    flex: 8 1 150px;    
    border: 1px solid #000;
    border-radius: 5px;
}
.flex-itemvarios:hover {
    font-size: 2.3em;
    background-color: #555;
}
.flex-itemvarios:active {
    font-size: 2.3em;
    background-color: #00c;
    color: #800;
}
.flex-itemvarios:nth-child(2n) {
    background-color: #267; 
}
.flex-itemvarios:nth-child(2n):active {
    background-color: #00c; 
    color: #800;
}
    

