body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}
* {
    box-sizing: border-box;
}
.crecedor {
    height: 100vh;
}

.box {
    height: 200px;
    view-timeline: --cajita block;
    background-color: #859;
    padding: 20px;
    animation: llenar-barra;
    animation-fill-mode: both;
    animation-timeline: --cajita;
    animation-timing-function: linear;
    animation-range-start: contain 00%;
    animation-range-end: contain 100%;

}
.container {
    
}


@keyframes llenar-barra {
    from {
        width: 0%;
        background-color: #80f;
    }
    to {
        width: 100%;
        background-color: #009;
    }
}

