* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh; /* Usamos dvh para establecer la altura completa */
    background-color: #f0f0f0;
}
.box {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

/* Estilo para la letra inicial */
p::first-letter {
    initial-letter: 3 3; /* La letra ocupará 3 líneas y estará elevada 3 unidades */
    color: #fd0101; /* Color inicial */
    font-family: 'Times New Roman', Times, serif;
    float: none; /* No necesitamos float con initial-letter */
}

/* Cambiar estilo al pasar el cursor */
p:hover::first-letter {
    color: #036df8; /* Cambia de color al hacer hover */
}