body{
    margin: 20px;
}
h1{
    margin: auto;
    color: #055f;
text-align: center;
padding: 10px;
border: 3px double#e2b;
border-radius: 10px;
width: 300px;
}

code, s{
    background-color: #444;
    color:#fff;
    padding: 5px;
}
div{
    font-size: 12px;
    padding: 4px;
}
.underline{    text-decoration:underline solid 2px rgb(219, 108, 5);}
.overline{    text-decoration:overline solid 4px rgb(161, 231, 96);}
.dashed{    text-decoration:dashed underline  2px rgb(103, 103, 107);}
.dotted{    text-decoration:dotted underline  5px blue;}
.double{    text-decoration:double overline  4px  rgb(66, 231, 182) ;}
.line-through{    text-decoration:line-through solid blue;}
.wavy{    text-decoration:wavy underline 3px red;}
.prueba1{text-decoration:underline solid 3px blue;}
.prueba2{text-decoration:overline  solid 3px rgb(7, 129, 38);}
.prueba3{text-decoration: underline dotted   3px  rgb(180, 226, 12);}
.prueba4{text-decoration: overline double  2px rgb(82, 8, 12);}
.prueba5{text-decoration:line-through solid 2px rgb(238, 191, 122);}
.prueba6{text-decoration: underline dotted  2px rgb(5, 168, 233);}



